<div class="wrapper" id="login">
	<div class="page">

		<div class="logo">
			<img src="/images/logo.png"/>
		</div>

		<div class="login">
			<label for="username">Username</label>
			<input name="username" id="username" type="text"/>


			<label for="password">Password</label>
			<input name="password" id="password" type="text"/>

			<div class="flex">
				<div class="flex-cell">
					<button>login</button>
				</div>
				<div class="flex-cell">
					<ul class="links">
						<li><a href="/about">about</a></li>
						<li><a href="/register">register</a></li>
					</ul>
				</div>
			</div>

		</div>

	</div>
</div>